@import '../core/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $newBlue;
  width: 100%;
  &__link {
    &--img {
      width: 89px;

      @media all and (min-width: 768px) {
        position: relative;
      }
    }
  }
  &__title {
    display: none;
  }
}
